- id: opendaylight
  type: group
  role: [opendaylight]
  requires: [deploy_start]
  required_for: [deploy_end, primary-controller, controller]
  tasks: [hiera, setup_repositories, fuel_pkgs, globals, tools, logging, odl_install]
  parameters:
    strategy:
      type: parallel
- id: odl_install
  type: puppet
  version: 2.0.0
  groups: [opendaylight]
  requires: [deploy_start]
  required_for: [openstack-network-start, odl_configure]
  requires: [hosts, firewall, globals, netconfig]
  parameters:
    puppet_manifest: puppet/manifests/odl-install.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 720
- id: netconfig
  type: puppet
  version: 2.0.0
  groups: [primary-controller, controller, cinder, cinder-block-device, cinder-vmware, compute, ceph-osd, primary-mongo, mongo, virt, ironic]
  required_for: [deploy_end]
  requires: [tools]
  reexecute_on: [deploy_changes]
  parameters:
    puppet_manifest: puppet/manifests/odl-netconfig.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 3600
  test_pre:
    cmd: ruby /etc/puppet/modules/osnailyfacter/modular/netconfig/netconfig_pre.rb
  test_post:
    cmd: ruby /etc/puppet/modules/osnailyfacter/modular/netconfig/netconfig_post.rb
- id: hiera-override
  type: puppet
  groups: ['primary-controller','controller','compute', 'opendaylight']
  version: 2.0.0
  required_for: [netconfig]
  requires: [globals]
  parameters:
    puppet_manifest: puppet/manifests/hiera-override.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 120
- id: odl_configure
  groups: ['primary-controller', 'controller']
  version: 2.0.0
  requires: [deploy_start, primary-cluster-haproxy, cluster-haproxy]
  required_for: [openstack-network-common-config, openstack-haproxy, openstack-network-end]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/odl-service.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1400
- id: odl_sfc
  type: puppet
  version: 2.0.0
  groups: [primary-controller]
  required_for: [openstack-network-common-config]
  requires: [openstack-network-start]
  parameters:
    puppet_manifest: puppet/manifests/odl-sfc.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 120
- id: odl_vxgpe
  type: puppet
  version: 2.0.0
  groups: [compute, compute-vmware]
  required_for: [openstack-network-common-config]
  requires: [openstack-network-start]
  parameters:
    puppet_manifest: puppet/manifests/odl-vxgpe.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 60
- id: openstack-network-common-config
  type: puppet
  version: 2.0.0
  groups: [primary-controller,controller,compute]
  required_for: [openstack-network-end]
  requires: [openstack-network-start]
  parameters:
    puppet_manifest: puppet/manifests/odl-common_config.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800
- id: primary-openstack-network-plugins-l2
  type: puppet
  version: 2.0.0
  groups: [primary-controller]
  required_for: [openstack-network-end]
  requires: [openstack-network-start, openstack-network-common-config, openstack-network-server-config]
  parameters:
    puppet_manifest: puppet/manifests/odl-ml2-configuration.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800
- id: openstack-network-plugins-l2
  type: puppet
  version: 2.0.0
  groups: [controller,compute]
  required_for: [openstack-network-end]
  requires: [openstack-network-start, openstack-network-common-config, openstack-network-server-config]
  cross-depends:
    - name: primary-openstack-network-plugins-l2
  parameters:
    puppet_manifest: puppet/manifests/odl-ml2-configuration.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800

# We have two tracks here.
# If user wants to use ODL to control L3 traffic
# then we skip tasks which spawn neutron L3 agents
# and move networks and router creation on the end.
# In other case standard path is preserved, but additional
# condition is added to tasks
- id: primary-openstack-network-agents-l3
  type: puppet
  version: 2.0.0
  groups: [primary-controller]
  required_for: [openstack-network-end]
  requires: [openstack-network-start, openstack-network-networks, openstack-network-routers, primary-openstack-network-plugins-l2, openstack-network-plugins-l2]
  refresh_on: [neutron_l3_agent_config]
  condition: "settings:opendaylight.enable_l3_odl == false"
  parameters:
    puppet_manifest: /etc/puppet/modules/openstack_tasks/examples/openstack-network/agents/l3.pp
    puppet_modules: /etc/puppet/modules
    timeout: 1800
- id: openstack-network-agents-l3
  type: puppet
  version: 2.0.0
  groups: [controller,compute]
  required_for: [openstack-network-end]
  requires: [openstack-network-start, openstack-network-networks, openstack-network-routers, primary-openstack-network-plugins-l2, openstack-network-plugins-l2]
  refresh_on: [neutron_l3_agent_config]
  condition: "settings:opendaylight.enable_l3_odl == false"
  cross-depends:
    - name: /(primary-)?openstack-network-plugins-l2/
      role: ["/(primary-)?controller/"]
    - name: primary-openstack-network-agents-l3
  parameters:
    puppet_manifest: /etc/puppet/modules/openstack_tasks/examples/openstack-network/agents/l3.pp
    puppet_modules: /etc/puppet/modules
    timeout: 1800


# POST DEPLOYMENT
# Additional task for routers when L3 HA is enabled
# HA routers must be created on post-deployment step when all L3 agents are available
- id: openstack-network-networks
  type: skipped
  groups: [primary-controller]
- id: odl-openstack-network-networks
  type: puppet
  version: 2.0.0
  role: [primary-controller]
  required_for: [post_deployment_end]
  requires: [post_deployment_start]
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/openstack-network/networks.pp
    puppet_modules: /etc/puppet/modules
    timeout: 1800
- id: openstack-network-routers
  type: skipped
  groups: [primary-controller]
- id: odl-openstack-network-routers
  type: puppet
  version: 2.0.0
  role: [primary-controller]
  required_for: [post_deployment_end]
  requires: [post_deployment_start, odl-openstack-network-networks]
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/openstack-network/routers.pp
    puppet_modules: /etc/puppet/modules
    timeout: 1800
- id: openstack-network-routers-ha
  type: puppet
  version: 2.0.0
  role: [primary-controller]
  condition: "settings:neutron_advanced_configuration.neutron_l3_ha == true and settings:opendaylight.enable_l3_odl == false"
  required_for: [post_deployment_end]
  requires: [post_deployment_start]
  parameters:
    puppet_manifest: /etc/puppet/modules/openstack_tasks/examples/openstack-network/routers.pp
    puppet_modules: /etc/puppet/modules
    timeout: 1800
    cwd: /
- id: configure_default_route
  type: puppet
  version: 2.1.0
  role: [primary-mongo, mongo, compute, compute-vmware, ceph-osd, cinder, cinder-vmware]
  requires: [post_deployment_start]
  required_for: [post_deployment_end]
  condition:
    yaql_exp: >
       (not $.opendaylight.enable_l3_odl) and
       changedAny($.network_scheme, $.network_metadata.vips.management)
  parameters:
    puppet_manifest: puppet/manifests/odl-nol3-configure_default_route.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 3600
- id: odl_dashboard_registration
  type: puppet
  role: [primary-controller]
  required_for: [post_deployment_end]
  requires: [post_deployment_start]
  version: 2.0.0
  parameters:
    puppet_manifest: puppet/manifests/odl-dashboard.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 180
