attributes:
  enable_gbp:
    weight: 14
    type: "checkbox"
    value: false
    label: "GBP features"
  enable_l3_odl:
    weight: 12
    type: "checkbox"
    value: false
    label: "EXPERIMENTAL: Use ODL to manage L3 traffic"
  enable_sfc:
    weight: 13
    type: "checkbox"
    value: false
    label: "SFC features"
  metadata:
    restrictions:
      - "cluster:net_provider != 'neutron'": "Only neutron is supported by OpenDaylight"
    odl_features:
      default:
        - config
        - standard
        - region
        - package
        - kar
        - ssh
        - management
      gbp:
        - odl-groupbasedpolicy-base
        - odl-groupbasedpolicy-ofoverlay
      ovs:
        - odl-ovsdb-openstack
        - odl-restconf-all
        - odl-aaa-authn
        - odl-dlux-all
      sfc:
        - odl-sfc-core
        - odl-sfc-sb-rest
        - odl-sfc-ui
        - odl-sfc-netconf
        - odl-sfc-ovs
        - odl-sfcofl2
        - odl-sfc-test-consumer
  rest_api_port:
    value: '8282'
    label: 'Port number'
    description: 'Port on which ODL REST API will be available.'
    weight: 40
    type: "text"
    regex:
      source: ^([1-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$
      error: 'Invalid port number'
