attributes:
  enable_l3_odl:
    weight: 10
    type: "checkbox"
    value: false
    label: "Use ODL to manage L3 traffic"
    restrictions:
      - networking_parameters:segmentation_type == 'vlan': Use tunneling segmentation type.
      - settings:public_network_assignment.assign_to_all_nodes.value == false: Assign public network to all nodes
  enable_sfc:
    weight: 20
    type: "checkbox"
    value: false
    label: "SFC features"
  sfc_class:
    weight: 21
    type: "select"
    value: "ncr"
    label: "Classifier used by SFC"
    values:
      - data: "ncr"
        label: "NetVirt"
      - data: "gcr"
        label: "GBP"
    description:
      >
       Classifier determines what traffic needs to be chained based on policy based on yang model.
       The OpenDayLight actually supports the OVSDB NetVirt and the GBP classifier in case of SFC.
    restrictions:
      - condition: "settings:opendaylight.enable_sfc.value == false"
        action: "hide"
  enable_bgpvpn:
    weight: 40
    type: "checkbox"
    value: false
    label: "BGPVPN extensions"
    description:
      >
        This enables the bgpvpn extension of neutron togethere with the
        corresponding sdnvpn features in odl. This feature will disable
        the standart ovsdb feature from ODL.
    restrictions:
      - condition: "settings:bgpvpn == null or settings:bgpvpn.metadata.enabled == false"
        strict: false
        message: "BGPVPN (fuel-plugin-bgpvpn) plugin must be installed and enabled."
      - networking_parameters:segmentation_type == 'vlan': This feature works only with segmentation_type != vlan
  bgpvpn_gateway:
    weight: 50
    type: "text"
    value: "0.0.0.0"
    description: "Define the default gateway for BGPVPN"
    label: "Default Gateway"
    restrictions:
        - settings:opendaylight.enable_bgpvpn.value == false: Only needed if BGPVPN is enabled.
    regex:
      source: ^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$
      error: 'Invalid ip number'
  odl_v2:
    weight: 60
    type: "checkbox"
    value: false
    label: "Use V2 ML2 driver"
    description: "V2 version is considered as experimental"
  rest_api_port:
    value: '8282'
    label: 'Port number'
    description: 'Port on which ODL REST API will be available.'
    weight: 70
    type: "text"
    regex:
      source: ^([1-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$
      error: 'Invalid port number'
  metadata:
    restrictions:
      - "cluster:net_provider != 'neutron'": "Only neutron is supported by OpenDaylight"
    odl_features:
      default:
        - config
        - standard
        - region
        - package
        - kar
        - ssh
        - management
      odl-default:
        - odl-restconf-all
        - odl-aaa-authn
        - odl-dlux-all
      gcr:
        - odl-groupbasedpolicy-ovssfc
      ncr:
        - odl-ovsdb-sfc
        - odl-ovsdb-sfc-rest
      ovs:
        - odl-ovsdb-openstack
      sfc:
        - odl-sfc-model
        - odl-sfc-provider
        - odl-sfc-provider-rest
        - odl-sfc-ovs
        - odl-sfc-openflow-renderer
      vpn:
        - odl-vpnservice-openstack
    odl_deb: opendaylight
    experimental_odl_deb: opendaylight-boron
    use_experimental_odl:
      - enable_sfc
    default_credentials:
      user: admin
      password: admin
    jetty_port: 8181
